{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda Corozo{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'tasks/css/base.css' %}">
   
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- LOGO -->
    
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'tasks/img/logo.png' %}" alt="Logo" class="logo-left" id="logo-img">Tienda Corozo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        {% if user_rol == "Administrador" %}
          <!-- Administración -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Administración</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'admin_dashboard' %}">Roles</a></li>
              <li><a class="dropdown-item" href="{% url 'create_user' %}">Crear Usuario</a></li>
            </ul>
          </li>
      
          <!-- Inventario -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inventario</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'dashboard_inventario' %}">Inventario</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard_ventas' %}">ventas</a></li>
              <li><a class="dropdown-item" href="{% url 'create_product' %}">Crear Producto</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_productos' %}">Lista Productos</a></li>
              <li><a class="dropdown-item" href="{% url 'crear_proveedor' %}">Nuevo Proveedor</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_proveedores' %}">Lista Proveedores</a></li>
              
            </ul>
          </li>
      
          
      
          <!-- Caja -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Caja</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cajero_dashboard' %}">Venta</a></li>
              <li><a class="dropdown-item" href="{% url 'corte_caja' %}">Corte caja</a></li>
            </ul>
          </li>

         


        {% elif user_rol == "Gerente" %}
          <!-- Menú Gerente -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Gestión</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'gerente_dashboard' %}">Panel Gerente</a></li>
              
              <li><a class="dropdown-item" href="{% url 'dashboard_ventas' %}">Ventas</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard_inventario' %}">Inventario</a></li>
              <li><a class="dropdown-item" href="{% url 'create_product' %}">Crear Producto</a></li>
              <li><a class="dropdown-item" href="{% url 'create_user' %}">Crear Usuario</a></li>
              <li><a class="dropdown-item" href="{% url 'crear_proveedor' %}">Nuevo Proveedor</a></li>
              <li><a class="dropdown-item" href="{% url 'cajero_dashboard' %}">Caja</a></li>
              <li><a class="dropdown-item" href="{% url 'corte_caja' %}">Corte caja</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_productos' %}">Lista Productos</a></li>
            </ul>
          </li>
      
        {% elif user_rol == "Ventas" %}
          <!-- Menú Ventas -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Ventas</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'dashboard_ventas' %}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard_inventario' %}">Inventario</a></li>
              <li><a class="dropdown-item" href="{% url 'create_product' %}">Crear Producto</a></li>
              <li><a class="dropdown-item" href="{% url 'crear_proveedor' %}">Nuevo Proveedor</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_proveedores' %}">Lista Proveedores</a></li>
              <li><a class="dropdown-item" href="{% url 'lista_productos' %}">Lista Productos</a></li>
            </ul>
          </li>
      
        {% elif user_rol == "Cajero" %}
          <!-- Menú Caja -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Caja</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cajero_dashboard' %}">Venta</a></li>
              <li><a class="dropdown-item" href="{% url 'corte_caja' %}">Corte caja</a></li>
            </ul>
          </li>
        {% endif %}
      
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
</nav>

<!-- CONTENIDO -->
<div class="container mt-4">
    {% block content %}
    <!-- Aquí se carga el contenido específico de cada página -->
    {% endblock %}
</div>

{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
