<h2>Bienvenido al Dashboard de Administrador</h2>

<h3>Gestionar Roles</h3>
<form method="POST" action="add_role">
    {% csrf_token %}
    <input type="text" name="nombre_rol" placeholder="Nuevo Rol" required>
    <button type="submit">Agregar Rol</button>
</form>

<h3>Gestionar Usuarios</h3>
<table>
    <tr>
        <th>Nombre de Usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.user.username }}</td>
            <td>{{ usuario.rol.nombre_rol }}</td>
            <td><a href="{% url 'edit_user' usuario.id %}">Editar</a></td>
        </tr>
    {% endfor %}
</table>

<h3>Crear Nuevo Usuario</h3>
<a href="create_user">Ir al formulario de creación</a>
