{% extends 'base.html' %}



{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolore magni mollitia dicta delectus animi hic ipsam accusamus sunt consectetur commodi dignissimos aliquid, corporis vero molestiae ipsum nobis modi assumenda fuga consequuntur cumque soluta. Reprehenderit vitae et suscipit voluptatum aliquid unde, dignissimos, ipsa minus impedit quam veniam eveniet odio ratione hic enim, nulla necessitatibus aspernatur veritatis nemo. Architecto excepturi reiciendis asperiores corporis sit non minima neque doloribus alias, blanditiis, enim ratione optio eos dolorum sequi laudantium fugit porro hic! Exercitationem voluptate provident totam cum mollitia quaerat, ab ut labore voluptatibus fugit maiores vel quas ipsa, vero beatae excepturi error minima.</p>
{% endblock %}